body {
  padding: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

#home {
  background: url(../images/home-bk.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  transition: 0.5s; }
  #home .opacity {
    height: 12px;
    background: rgba(0, 0, 0, 0.3); }
  #home .menu {
    min-width: 1330px;
    margin-top: 25px;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translatex(-50%); }
    #home .menu .logo {
      display: inline-block;
      float: left; }
    #home .menu ul {
      margin-top: 35px;
      float: left;
      display: inline-block;
      height: max-content; }
      #home .menu ul .menu-item {
        font-size: 15px;
        padding: 0px 10px;
        display: inline;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 20px 10px;
        transition: 0.5s; }
        #home .menu ul .menu-item a {
          color: #34495e;
          font-weight: 600; }
        #home .menu ul .menu-item:hover {
          background: #34495e; }
          #home .menu ul .menu-item:hover a {
            color: #ffffff; }
      #home .menu ul a {
        color: #34495e;
        font-weight: 600; }
        #home .menu ul a:hover li {
          color: #ffffff; }
      #home .menu ul .menu-item.dropdown {
        border-radius: 5px;
        position: relative;
        transition: 0s; }
        #home .menu ul .menu-item.dropdown:hover {
          padding-bottom: 77px; }
          #home .menu ul .menu-item.dropdown:hover .dropdown-content {
            display: block;
            opacity: 1; }
        #home .menu ul .menu-item.dropdown .dropdown-content {
          opacity: 0;
          display: none;
          background: #34495e;
          position: absolute;
          top: 69px;
          left: 0px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px; }
          #home .menu ul .menu-item.dropdown .dropdown-content ul {
            margin-top: 0px;
            list-style: none; }
            #home .menu ul .menu-item.dropdown .dropdown-content ul li {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              line-height: 39px;
              margin-left: -40px;
              padding-left: 20px;
              text-transform: capitalize;
              width: 300px; }
              #home .menu ul .menu-item.dropdown .dropdown-content ul li a {
                transition: 0.7;
                font-weight: 100;
                color: #ffffff; }
              #home .menu ul .menu-item.dropdown .dropdown-content ul li:first-child {
                padding-top: 5px; }
              #home .menu ul .menu-item.dropdown .dropdown-content ul li:last-child {
                padding-bottom: 5px; }
              #home .menu ul .menu-item.dropdown .dropdown-content ul li:hover {
                background: rgba(255, 255, 255, 0.4);
                z-index: 100; }
          #home .menu ul .menu-item.dropdown .dropdown-content a {
            font-weight: 100; }
      #home .menu ul .dropdown-1 {
        position: relative;
        transition: 0s; }
        #home .menu ul .dropdown-1:hover .dropdown-content-1 {
          opacity: 1;
          left: 237px; }
        #home .menu ul .dropdown-1 .dropdown-content-1 {
          opacity: 0;
          background: #142230;
          position: absolute;
          top: -83px;
          left: 300px;
          border-radius: 8px;
          font-size: 14px;
          overflow: hidden;
          transition: 0.5s; }
          #home .menu ul .dropdown-1 .dropdown-content-1 ul {
            list-style: none; }
            #home .menu ul .dropdown-1 .dropdown-content-1 ul li {
              line-height: 26px !important;
              margin-left: -20px;
              text-transform: capitalize; }
              #home .menu ul .dropdown-1 .dropdown-content-1 ul li a {
                font-weight: 100;
                color: #ffffff; }
              #home .menu ul .dropdown-1 .dropdown-content-1 ul li:first-child {
                padding-top: 1px !important; }
              #home .menu ul .dropdown-1 .dropdown-content-1 ul li:last-child {
                padding-bottom: 1px !important; }
      #home .menu ul .dropdown-2 {
        position: relative;
        transition: 0s; }
        #home .menu ul .dropdown-2:hover .dropdown-content-2 {
          opacity: 1;
          left: 195px; }
        #home .menu ul .dropdown-2 .dropdown-content-2 {
          opacity: 0;
          height: 318px;
          background: #142230;
          position: absolute;
          top: -161px;
          left: 318px;
          font-size: 14px;
          overflow: hidden;
          transition: 0.5s; }
          #home .menu ul .dropdown-2 .dropdown-content-2 ul {
            list-style: none; }
            #home .menu ul .dropdown-2 .dropdown-content-2 ul li {
              line-height: 26px !important;
              margin-left: -20px;
              text-transform: capitalize;
              width: 243px !important; }
              #home .menu ul .dropdown-2 .dropdown-content-2 ul li a {
                font-weight: 100;
                color: #ffffff; }
              #home .menu ul .dropdown-2 .dropdown-content-2 ul li:first-child {
                padding-top: 5px !important; }
              #home .menu ul .dropdown-2 .dropdown-content-2 ul li:last-child {
                padding-bottom: 5px !important; }
    #home .menu select {
      margin-top: 35px;
      float: left;
      display: block;
      font-weight: 700;
      background: transparent;
      border: 0px;
      color: #34495e;
      border-left: 1px solid;
      border-right: 1px solid;
      margin-left: 30px;
      margin-right: 15px;
      margin-bottom: 16px;
      width: 70px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0px 14px;
      background: transparent url("../images/sort-down.png") no-repeat 40px center;
      background-size: 13px; }
      #home .menu select:focus {
        outline: 0px; }
    #home .menu i {
      color: #34495e;
      margin-top: 40px;
      margin-bottom: 24px;
      float: right;
      width: 25px;
      cursor: pointer; }
    #home .menu .clr {
      clear: both; }
    #home .menu input {
      padding: 5px 0px;
      border-radius: 8px;
      float: right;
      width: 0px;
      color: #34495e;
      border: 0px;
      transition: 0.5s; }
      #home .menu input:focus {
        outline: 0px; }
    #home .menu .show_sreach {
      width: 300px;
      padding: 5px 10px; }

#footer {
  line-height: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%; }
  #footer .container-fluid {
    background: #57514f; }
    #footer .container-fluid .row {
      font-size: 14px; }
      #footer .container-fluid .row p {
        width: 100%;
        text-align: center;
        margin: 0px;
        color: #eaecef;
        position: relative; }
      #footer .container-fluid .row .social {
        position: absolute;
        right: 15px; }
        #footer .container-fluid .row .social i {
          padding-left: 15px;
          color: #eaecef; }
  #footer .gradient {
    background: linear-gradient(to right, #004276, #0095d5, #a7c330, #1e923d);
    height: 3px; }
  #footer .footer-menu {
    min-width: 1330px;
    position: absolute;
    left: 50%;
    bottom: 24px;
    z-index: 1;
    transform: translateX(-50%); }
    #footer .footer-menu .ceo-menu.second li, #footer .footer-menu .ceo-menu.second a {
      margin-left: -5px !important;
      background: #40556a;
      padding: 0px 15px;
      display: inline-block;
      overflow: hidden;
      margin-bottom: -9px;
      height: 30px;
      transition: 0.5s; }
      #footer .footer-menu .ceo-menu.second li a, #footer .footer-menu .ceo-menu.second a a {
        color: white; }
      #footer .footer-menu .ceo-menu.second li:first-child, #footer .footer-menu .ceo-menu.second a:first-child {
        border-top-left-radius: 12px; }
      #footer .footer-menu .ceo-menu.second li:last-child, #footer .footer-menu .ceo-menu.second a:last-child {
        border-top-right-radius: 12px; }
      #footer .footer-menu .ceo-menu.second li:hover, #footer .footer-menu .ceo-menu.second a:hover {
        height: 41px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px; }
    #footer .footer-menu .ceo-menu {
      display: inline-block;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      overflow: hidden; }
      #footer .footer-menu .ceo-menu ul {
        margin: 0px !important;
        margin-left: -35px !important; }
        #footer .footer-menu .ceo-menu ul a {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px; }
        #footer .footer-menu .ceo-menu ul li {
          margin-left: -5px !important;
          background: #40556a;
          padding: 0px 15px;
          display: inline-block;
          overflow: hidden;
          margin-bottom: -9px;
          height: 30px;
          transition: 0.5s; }
          #footer .footer-menu .ceo-menu ul li a {
            color: white; }
          #footer .footer-menu .ceo-menu ul li:first-child {
            border-top-left-radius: 12px; }
          #footer .footer-menu .ceo-menu ul li:last-child {
            border-top-right-radius: 12px; }
          #footer .footer-menu .ceo-menu ul li:hover {
            height: 41px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px; }

.page-content {
  min-width: 1330px;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  top: 160px; }
  .page-content h3 {
    text-transform: uppercase;
    color: #34495e;
    font-weight: 700; }
  .page-content p {
    color: #34495e;
    text-transform: capitalize;
    font-size: 12px;
    padding-bottom: 20px; }
  .page-content .basin {
    position: relative; }
    .page-content .basin:first-child {
      height: 486px; }
    .page-content .basin:last-child {
      height: 329px; }
    .page-content .basin .layout {
      background: rgba(169, 168, 166, 0.322);
      width: 100%;
      position: absolute;
      height: 100%;
      top: 0px;
      transition: 0.5s; }
    .page-content .basin h4 {
      font-weight: 100; }
      .page-content .basin h4 b {
        font-weight: 700; }
    .page-content .basin .image-1 {
      background: url(../images/b1.jpg) no-repeat;
      width: 100%;
      height: 486px; }
    .page-content .basin .image-2 {
      background: url(../images/b2.jpg) no-repeat;
      width: 100%;
      height: 100%; }
    .page-content .basin .image-3 {
      background: url(../images/b3.jpg) no-repeat;
      margin-top: 14px;
      width: 100%;
      height: 100%; }
    .page-content .basin .image-4 {
      background: url(../images/b4.jpg) no-repeat;
      width: 100%;
      height: 329px; }
    .page-content .basin img {
      width: 100%; }
    .page-content .basin .basin_text {
      margin-top: 30px;
      border: 3px dashed;
      padding: 15px; }
    .page-content .basin .bi-text {
      text-transform: uppercase;
      position: absolute;
      bottom: -14px;
      left: -2px;
      color: #ffffff;
      transition: 0.5s;
      cursor: pointer; }
      .page-content .basin .bi-text .line {
        background: #ffffff;
        width: 0%;
        height: 2px;
        transition-delay: 0.4s !important;
        transition: 0.7s;
        margin: auto; }
    .page-content .basin:hover .bi-text {
      bottom: 45%;
      left: 50%;
      transform: translateX(-50%); }
      .page-content .basin:hover .bi-text .line {
        width: 80%; }
    .page-content .basin:hover .layout {
      background: rgba(0, 0, 0, 0.2); }
  .page-content .col-md-5 .basin {
    height: 236px; }
  .page-content .col-md-5, .page-content .col-md-12 {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .page-content .col-md-3 {
    flex: 0 0 28% !important;
    max-width: 28% !important; }

.page-content.ceo h1 {
  color: #34495e;
  line-height: 40px;
  font-weight: 800;
  padding-bottom: 20px; }
.page-content.ceo img {
  margin-top: -25px; }

.page-content1 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-transform: uppercase; }
  .page-content1 h2 {
    font-weight: 700; }

.page-content.feal h1 {
  color: #293248;
  font-weight: 800;
  text-transform: uppercase; }
.page-content.feal h5 {
  font-size: 15px;
  font-weight: 700;
  color: #34495e; }
.page-content.feal .col-md-7.margin {
  padding-left: 0px;
  margin-top: 55px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  text-justify: inter-word; }
.page-content.feal .col-md-11 {
  padding-left: 0px; }
.page-content.feal ul.circles {
  padding-left: 0px;
  margin-top: 40px; }
  .page-content.feal ul.circles li {
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: white;
    margin-right: 18px;
    position: relative;
    box-shadow: 6px 6px 14px #00000050;
    cursor: pointer;
    transition: 0.5s; }
    .page-content.feal ul.circles li:hover {
      box-shadow: 1px 1px 4px #00000050; }
    .page-content.feal ul.circles li img {
      width: 61%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .page-content.feal ul.circles li p {
      width: max-content;
      position: absolute;
      bottom: -73px;
      left: 50%;
      transform: translateX(-50%); }

.page-content.feal.alanlar {
  max-width: 1330px; }
  .page-content.feal.alanlar .circles {
    margin-top: 0px; }
  .page-content.feal.alanlar .owl-dots {
    display: block !important; }
    .page-content.feal.alanlar .owl-dots span {
      background: #40556a; }
  .page-content.feal.alanlar .owl-nav {
    display: none !important; }
  .page-content.feal.alanlar .owl-carousel img {
    filter: grayscale(100%);
    opacity: 0.4;
    transition: 0.5s;
    cursor: pointer; }
    .page-content.feal.alanlar .owl-carousel img:hover {
      opacity: 1;
      filter: grayscale(0%); }
  .page-content.feal.alanlar ul.tabs li {
    width: 33.3%; }

.owl-carousel.one-slide.owl-theme .owl-dots, .owl-carousel.two-slide.owl-theme .owl-dots, .owl-carousel.free-slide.owl-theme .owl-dots, .owl-carousel.four-slide.owl-theme .owl-dots {
  display: none !important; }

ul.circles img {
  filter: grayscale(0%) !important; }

.hikayeler h1 {
  margin-bottom: 0px;
  color: #394d62;
  font-weight: 700px; }
.hikayeler .vertical-nav {
  position: fixed;
  right: -55px;
  top: 65%;
  transform: translateY(-65%); }
  .hikayeler .vertical-nav i {
    font-size: 32px;
    cursor: pointer; }
.hikayeler .vertical-slider-outer {
  height: 56vh;
  overflow: hidden;
  border: 1px solid transparent; }
  .hikayeler .vertical-slider-outer:before {
    content: '';
    background-image: -moz-linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    background-image: -webkit-linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    background-image: -ms-linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 18%;
    width: 100%;
    z-index: 10; }
  .hikayeler .vertical-slider-outer:after {
    content: '';
    background-image: -moz-linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    background-image: -webkit-linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    background-image: -ms-linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.62) 38%, rgba(255, 255, 255, 0.14) 86%, transparent 100%);
    position: absolute;
    left: 0px;
    top: 144px;
    height: 18%;
    width: 100%;
    z-index: 10; }
.hikayeler .vertical-move {
  transition: 0.5s;
  margin-top: -154px; }
.hikayeler .vertical-slider {
  height: 308px;
  display: flex;
  justify-content: space-between; }
  .hikayeler .vertical-slider .item {
    padding-top: 30px;
    width: 32%;
    border: 1px solid transparent;
    float: left;
    overflow: hidden; }
    .hikayeler .vertical-slider .item .left-item, .hikayeler .vertical-slider .item .right-item, .hikayeler .vertical-slider .item .left-date, .hikayeler .vertical-slider .item .right-date {
      width: 49.5%;
      float: left; }
    .hikayeler .vertical-slider .item .right-item img {
      width: 100%;
      height: 140px;
      filter: grayscale(0%); }
    .hikayeler .vertical-slider .item .left-item {
      margin-right: 4px;
      background: white;
      border: 1px solid #d8dada; }
      .hikayeler .vertical-slider .item .left-item h4 {
        border-bottom: 1px solid;
        padding: 8px 0px;
        margin-bottom: 5px; }
      .hikayeler .vertical-slider .item .left-item h6 {
        color: #c6c6c6; }
      .hikayeler .vertical-slider .item .left-item h4, .hikayeler .vertical-slider .item .left-item h6, .hikayeler .vertical-slider .item .left-item h5 {
        margin-left: 4px;
        margin-right: 4px; }
      .hikayeler .vertical-slider .item .left-item .date {
        margin: 8px; }
        .hikayeler .vertical-slider .item .left-item .date .left-date span {
          font-size: 11px; }
    .hikayeler .vertical-slider .item .right-date .iconn {
      display: inline-block;
      border: 3px solid;
      border-radius: 50%;
      float: right;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 21px;
      margin: 0px 2px 6px;
      cursor: pointer; }
      .hikayeler .vertical-slider .item .right-date .iconn i {
        font-size: 14px; }
      .hikayeler .vertical-slider .item .right-date .iconn:first-child {
        color: #0eb5ec; }
        .hikayeler .vertical-slider .item .right-date .iconn:first-child a {
          color: #0eb5ec; }
      .hikayeler .vertical-slider .item .right-date .iconn:last-child {
        color: #355993; }
        .hikayeler .vertical-slider .item .right-date .iconn:last-child a {
          color: #355993; }
    .hikayeler .vertical-slider .item .bottom-item {
      margin-top: 30px;
      text-align: justify;
      text-justify: inter-word;
      width: 100%;
      font-size: 14px !important; }

#footer .footer-menu .ceo-menu.hikayeler-menu ul {
  margin-bottom: -5px !important;
  background: transparent; }
  #footer .footer-menu .ceo-menu.hikayeler-menu ul li {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 13px;
    width: 182px;
    margin-left: 3px !important;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    height: 81px;
    overflow: hidden;
    margin-bottom: -4px;
    transition: 0.2s; }
    #footer .footer-menu .ceo-menu.hikayeler-menu ul li:hover {
      height: 98px; }

.page-content.ceo.oduller {
  color: #34495e; }
  .page-content.ceo.oduller h1 {
    padding: 0px; }
  .page-content.ceo.oduller p {
    font-size: 11px; }
  .page-content.ceo.oduller .left, .page-content.ceo.oduller .right {
    width: 50%;
    float: left;
    margin-top: 18px; }
  .page-content.ceo.oduller .right h6 {
    margin-bottom: 0px !important; }
  .page-content.ceo.oduller .right p {
    padding-bottom: 4px; }
  .page-content.ceo.oduller .right .oduller-item {
    padding-left: 20px; }
    .page-content.ceo.oduller .right .oduller-item:last-child p {
      padding-bottom: 0px;
      margin-bottom: 0px; }

body {
  overflow: hidden;
  display: none; }

ul.tabs {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  ul.tabs li {
    overflow: hidden;
    transition: 0.2s;
    display: block; }
    ul.tabs li:hover {
      font-size: 20px; }

.page-content.ceo.degerler p {
  margin-bottom: 0px;
  color: #34495e; }
.page-content.ceo.degerler h1, .page-content.ceo.degerler p {
  padding-bottom: 0px; }
.page-content.ceo.degerler h6 {
  font-size: 13px;
  margin-bottom: 3px; }
.page-content.ceo.degerler p {
  line-height: 15px; }
.page-content.ceo.degerler .my-md-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 30%;
  float: left;
  /* padding-right: 6px; */
  margin-right: 32px; }
  .page-content.ceo.degerler .my-md-3 .degerler-item {
    margin-bottom: 10px; }

.page-content.ceo.rakamlar p {
  font-size: 12px; }
.page-content.ceo.rakamlar h1 {
  font-size: 50px; }

.modal {
  position: fixed !important;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  background: rgba(11, 11, 11, 0.8);
  top: 0px;
  left: 0px;
  display: none; }
  .modal .modal_inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    padding: 30px;
    height: 60%; }
    .modal .modal_inner .close {
      width: 47px;
      height: 47px;
      position: absolute;
      top: -25px;
      right: -25px;
      cursor: pointer; }
      .modal .modal_inner .close:hover {
        opacity: 0.5; }

iframe {
  border-color: transparent; }

.my-container {
  width: 1330px;
  margin: auto;
  margin-bottom: 5%; }
  .my-container .items {
    width: 50%; }
    .my-container .items .item {
      width: 16.66%;
      float: left;
      padding-right: 20px; }
    .my-container .items p {
      font-size: 12px;
      line-height: 10px; }

.ceo-menu.inovasyon ul li {
  padding: 0px 59px !important; }

.page-content.feal.iletisim .col-md-8 {
  padding: 0px !important; }
.page-content.feal.iletisim .my-md-6 {
  width: 50%;
  float: left; }
  .page-content.feal.iletisim .my-md-6 h3 {
    font-weight: 100; }
    .page-content.feal.iletisim .my-md-6 h3 b {
      font-weight: 700; }
  .page-content.feal.iletisim .my-md-6 P {
    padding-bottom: 0px;
    margin-bottom: 6px;
    font-weight: 500;
    text-transform: uppercase; }
.page-content.feal.iletisim .my-md-6.temsil p {
  margin: 12px 0px !important; }
.page-content.feal.iletisim img {
  margin-bottom: 20px; }
.page-content.feal.iletisim button {
  background: #34495e;
  border-radius: 4px;
  border: 0px;
  font-size: 11px;
  font-weight: 500;
  padding: 7px 28px;
  transition: 0.2s;
  cursor: pointer; }
  .page-content.feal.iletisim button:focus {
    outline: 0px; }
  .page-content.feal.iletisim button a {
    color: white; }
  .page-content.feal.iletisim button:hover {
    font-size: 13px; }

.yurt-disi ul.tabs {
  width: 75%; }
.yurt-disi h1 {
  margin-top: 123px; }

.page-content.ceo.ihracat ul {
  margin-left: -18px;
  font-size: 12px;
  font-weight: 700;
  color: #34495e; }
.page-content.ceo.ihracat .info {
  margin-top: 40px; }
.page-content.ceo.ihracat sub {
  bottom: -1.25em;
  font-size: 15px;
  margin-left: -29px; }
.page-content.ceo.ihracat p {
  padding-bottom: 0px; }

.page-content.feal.alanlar.hikayeler.ik h1 {
  margin-bottom: 5px; }

.page-content.feal.alanlar.hikayeler.ik.kariyer p {
  padding-bottom: 0px; }
.page-content.feal.alanlar.hikayeler.ik.kariyer h5, .page-content.feal.alanlar.hikayeler.ik.kariyer h6 {
  margin: 0px; }
.page-content.feal.alanlar.hikayeler.ik.kariyer h6 {
  font-size: 13px; }
.page-content.feal.alanlar.hikayeler.ik.kariyer ul {
  margin-left: -20px; }

.my-margin-top {
  margin-top: 150px; }

.page-content.feal.alanlar.hikayeler.imkanlar p, .page-content.feal.alanlar.hikayeler.imkanlar pre, .page-content.feal.alanlar.hikayeler.imkanlar .about-work {
  color: grey !important; }
.page-content.feal.alanlar.hikayeler.imkanlar .bk-blue p, .page-content.feal.alanlar.hikayeler.imkanlar .bk-blue pre {
  color: black !important;
  font-weight: 700; }
.page-content.feal.alanlar.hikayeler.imkanlar .about-work {
  overflow-y: scroll;
  height: 32vh; }
.page-content.feal.alanlar.hikayeler.imkanlar .about-cv-outer {
  overflow-y: scroll;
  height: 328px; }
  .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-outer p, .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-outer pre {
    color: grey !important;
    font-weight: 100; }
  .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-outer .about-cv-f:nth-child(even) p {
    font-weight: 700; }
.page-content.feal.alanlar.hikayeler.imkanlar .cv-btn {
  float: right;
  background: #34495e;
  border-radius: 4px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 28px;
  transition: 0.2s;
  cursor: pointer; }
  .page-content.feal.alanlar.hikayeler.imkanlar .cv-btn:focus {
    outline: 0px; }
  .page-content.feal.alanlar.hikayeler.imkanlar .cv-btn a {
    color: white; }
  .page-content.feal.alanlar.hikayeler.imkanlar .cv-btn:hover {
    font-size: 13px; }
.page-content.feal.alanlar.hikayeler.imkanlar .cv-btn.l {
  width: 100%;
  text-align: center; }
.page-content.feal.alanlar.hikayeler.imkanlar .bk-blue {
  background: #b7cbd8;
  padding: 6px; }
  .page-content.feal.alanlar.hikayeler.imkanlar .bk-blue p {
    padding-bottom: 0px;
    margin-bottom: 0px; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-3, .page-content.feal.alanlar.hikayeler.imkanlar .my-md-4, .page-content.feal.alanlar.hikayeler.imkanlar .my-md-6, .page-content.feal.alanlar.hikayeler.imkanlar .my-md-8, .page-content.feal.alanlar.hikayeler.imkanlar .my-md-9 {
  float: left;
  margin: 0px !important; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-9 {
  width: 75%; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-8 {
  width: 66.66%; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-6 {
  width: 50%; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-4 {
  width: 33.33%; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-3 {
  width: 25%; }
.page-content.feal.alanlar.hikayeler.imkanlar .about-cv-h .bk-blue {
  font-size: 14px;
  padding: 1px;
  text-align: center !important; }
.page-content.feal.alanlar.hikayeler.imkanlar .my-md-3.bk-blue {
  padding-right: 14px;
  border-right: 6px solid #ecf0f1; }
.page-content.feal.alanlar.hikayeler.imkanlar .about-cv-f {
  height: 33px;
  border-bottom: 1px solid gray; }
  .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-f .bk-blue {
    background: transparent;
    border-right: 0px solid white;
    padding-bottom: 0px; }
  .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-f .cv-btn {
    background: #333a40;
    font-size: 10px;
    padding: 4px 28px; }
    .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-f .cv-btn:nth-child(2) {
      background: #506d8a;
      margin-left: 4px; }
    .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-f .cv-btn:hover {
      font-size: 11px; }

.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-3, .page-content.feal.alanlar.hikayeler.cv-gonder .my-md-4, .page-content.feal.alanlar.hikayeler.cv-gonder .my-md-6, .page-content.feal.alanlar.hikayeler.cv-gonder .my-md-8, .page-content.feal.alanlar.hikayeler.cv-gonder .my-md-9 {
  float: left;
  margin: 0px !important; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-9 {
  width: 75%; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-8 {
  width: 66.66%; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-6 {
  width: 50%;
  padding-left: 9px; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-4 {
  width: 33.33%; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-md-3 {
  width: 25%; }
.page-content.feal.alanlar.hikayeler.cv-gonder .uzman {
  height: 460px;
  overflow-y: scroll;
  margin-top: 40px; }
  .page-content.feal.alanlar.hikayeler.cv-gonder .uzman h4 {
    font-weight: 700; }
.page-content.feal.alanlar.hikayeler.cv-gonder .my-input {
  color: white;
  background: #b2b3b3;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 12px;
  border-radius: 4px; }
  .page-content.feal.alanlar.hikayeler.cv-gonder .my-input input {
    width: 100%;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px; }
    .page-content.feal.alanlar.hikayeler.cv-gonder .my-input input:focus {
      outline: 0px; }
.page-content.feal.alanlar.hikayeler.cv-gonder .cv-btn {
  margin: 2px 0px;
  background: #506d8a;
  border-radius: 4px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 57px;
  transition: 0.2s;
  cursor: pointer;
  color: white; }
  .page-content.feal.alanlar.hikayeler.cv-gonder .cv-btn:focus {
    outline: 0px; }
  .page-content.feal.alanlar.hikayeler.cv-gonder .cv-btn:hover {
    font-size: 13px; }
.page-content.feal.alanlar.hikayeler.cv-gonder form h5 {
  margin-top: 5px;
  font-size: 13px;
  color: #b2b3b3 !important; }
.page-content.feal.alanlar.hikayeler.cv-gonder img {
  margin-top: -81px; }

.basvuru .cv-btn {
  text-align: center;
  background: #23588c !important; }
.basvuru .my-input {
  margin-top: 10px;
  background: transparent !important; }
  .basvuru .my-input input, .basvuru .my-input select {
    margin-left: -7px;
    padding: 7px 10px !important;
    margin-top: -4px;
    border-radius: 12px !important;
    border: 1px solid gainsboro !important; }
  .basvuru .my-input select {
    width: 100%;
    color: gray; }
    .basvuru .my-input select:focus {
      outline: 0px; }
  .basvuru .my-input .my-md-6 {
    padding-left: 0px !important; }
  .basvuru .my-input .style {
    background: #b2b3b3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px !important; }
.basvuru .send.cv-btn {
  font-size: 21px !important;
  padding: 10px 40px !important;
  border-radius: 12px !important;
  float: right !important;
  margin-top: 15px !important; }
.basvuru .cv-sc {
  border: 1px solid #b2b3b3;
  border-left: 0px;
  border-right: 0px; }

.page-content.ceo.oduller.tarih .cv-btn {
  background: #27b1ec;
  border-radius: 4px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 35px;
  margin-left: -63px;
  transition: 0.2s;
  cursor: pointer;
  color: white; }
  .page-content.ceo.oduller.tarih .cv-btn:focus {
    outline: 0px; }
  .page-content.ceo.oduller.tarih .cv-btn:hover {
    font-size: 13px; }

@media only screen and (max-width: 1530px) {
  .page-content1 {
    left: 18%; }

  .page-content {
    min-width: 1330px; }
    .page-content h2 {
      left: 18%; }
    .page-content h3 {
      margin-bottom: 0px !important; }
    .page-content p {
      padding-bottom: 0px !important; }

  .basin:first-child {
    height: 286px; }
  .basin:last-child {
    height: 329px; }

  .image-1 {
    background-position: bottom !important;
    height: 340px !important; }

  .image-2, .image-3 {
    background-position: bottom !important;
    height: 100% !important; }

  .image-3 {
    background-position: center !important; }

  .image-4 {
    height: 194px !important;
    background-position: center !important; }

  .col-md-5 .basin {
    height: 164px !important; }

  .page-content.ceo h1 {
    padding-bottom: 10px;
    height: max-content; }
  .page-content.ceo img {
    height: max-content;
    margin-top: -100px; }

  .page-content.feal ul.circles li p {
    bottom: -50px; }

  .page-content.feal .col-md-7.margin {
    margin-top: 33px; }

  .page-content.feal h1 {
    margin-bottom: 0px !important; }

  .page-content.feal ul.circles {
    margin-top: 20px; }

  .tab_content {
    padding-top: 12px; }

  ul.tabs {
    margin-top: 2px;
    padding: 4px 0px; }

  .tab_container p {
    margin-bottom: 0px !important; }
  .tab_container h3 {
    font-size: 24px; }

  .owl-theme .owl-dots .owl-dot span {
    margin: 0px !important; }

  .owl-theme .owl-dots {
    margin-top: -8px; }

  .owl-carousel .owl-item img {
    width: 73% !important; }

  .page-content {
    top: 140px; }

  .hikayeler .vertical-slider-outer {
    width: 1252px; }

  .hikayeler .vertical-move {
    margin-top: 0px; }

  .hikayeler .vertical-slider .item .left-item .date .left-date span {
    font-size: 10px; }

  .hikayeler .vertical-slider .item .bottom-item {
    margin-top: 10px;
    line-height: 17px; }

  .hikayeler .vertical-slider-outer {
    height: 46vh; }

  .hikayeler .vertical-slider-outer:after {
    top: 116px; }

  .hikayeler .vertical-slider-outer:before, .hikayeler .vertical-slider-outer:after {
    width: 94.05%; }

  .hikayeler .vertical-nav {
    right: 24px;
    bottom: 115px; }

  .vertical-move {
    transition: 0.5s;
    margin-top: 0px; }

  .vertical-slider {
    height: 384px; }

  .page-content.ceo.oduller .left, .page-content.ceo.oduller .right {
    overflow-y: scroll;
    height: 37vh; }

  .page-content.ceo .my-md-3 {
    display: block !important;
    overflow-y: scroll;
    height: 37vh; }

  .my-container {
    margin-bottom: 30px; }

  .page-content.feal.iletisim .col-md-8 {
    overflow-y: scroll;
    height: 318px; }

  .yurt-disi h1 {
    margin-top: 50px; }

  .page-content.ceo.ihracat .col-md-6 {
    height: 348px;
    overflow-y: scroll; }

  .my-margin-top {
    margin-top: 0px;
    height: 158px;
    overflow-y: scroll; }

  .page-content.feal.alanlar.hikayeler.imkanlar .about-cv-outer, .page-content.feal.alanlar.hikayeler.imkanlar .about-work {
    overflow-y: scroll;
    height: 158px; }

  .page-content.feal.alanlar.hikayeler.imkanlar hr {
    margin-top: 8px !important;
    margin-bottom: 0px; }

  .page-content.feal.alanlar.hikayeler.cv-gonder .uzman {
    height: 253px;
    overflow-y: scroll;
    margin-top: 0px; }

  .page-content.feal.alanlar.hikayeler.cv-gonder .my-input {
    margin-bottom: 3px; }

  .page-content.feal.alanlar.hikayeler.cv-gonder.basvuru .my-md-6.scroll {
    height: 87px;
    overflow-y: scroll; }

  .page-content.feal.alanlar.hikayeler.cv-gonder.basvuru .cv-btn.mt {
    margin-top: 0px !important; }

  .page-content.feal.alanlar .owl-carousel img {
    width: 60% !important; }

  .page-content.ceo.oduller.tarih img {
    margin-top: 0px; } }
h1, h2, h3, h5, h6 {
  color: #34495e !important; }

#home .menu ul .dropdown-1 .dropdown-content-1 {
  top: 0px !important; }

#home .menu ul .dropdown-1:nth-child(2) .dropdown-content-1:nth-child(2) {
  top: -44px !important; }

.ceo-menu a {
  color: white !important; }
  .ceo-menu a li {
    color: white !important; }

#home .menu ul .dropdown-1 .dropdown-content-1 ul {
  width: 200px; }

.menu ul .dropdown-1:nth-child(2) .dropdown-content-1 ul {
  width: 300px !important; }

.dropdown-content-2 {
  top: -224px !important; }

#home .menu ul .dropdown-2 .dropdown-content-2 ul li:last-child {
  padding-bottom: 0px !important; }

#home .menu ul .dropdown-2 .dropdown-content-2 ul li:first-child {
  padding-top: 0px !important; }

#home .menu ul .menu-item.dropdown:first-child .dropdown-content ul li:last-child {
  padding-bottom: 0px !important; }

#home .menu ul .menu-item.dropdown:first-child .dropdown-content ul li:last-child {
  padding-top: 0px !important; }

/*# sourceMappingURL=sass.css.map */
